/* Main Components */

body {
    background-color: #FDFDFD;
}

h1 {
    font-size: 3.5rem;
}

.container-fluid {
    width: 80%;
}

/* Navbar */

.navbar {
    background-color: #30E3CA; 
}

.navbar-brand, .nav-item {
    padding: 6px 25px 6px 25px; 
}

/* Landing Area - Home Page */

.home-content-area {
    padding-bottom: 200px;
}

.robot-col {
    text-align: center;
}

.robot-image {
    width: 350px;
    margin-top: 100px;
}

.home-page-cta {
    margin-top: 160px;
}

.sub-heading-cta {
    margin: 20px 0px 20px 0px;
}

.home-button {
    margin-top: 10px;
    background-color: #30E3CA;
}

/* Footer Area */

.footer-area {
    text-align: center;
    background-color: #E4F9F5;
    padding: 30px 0px 20px 0px;
}

/* Authentication Pages - Login & Sign Up */

.container-form {
    background-color: white;
    border: 0.5px solid #30E3CA;
    border-radius: 5px;
    width: 350px;
    padding: 20px;
    margin-top: 75px;
}

.form-heading {
    margin-bottom: 30px;
    text-align: center;
}

.btn-authentication {
    background-color: #30E3CA;
    margin-top: 10px;
}

/* Home Page */

.home-heading {
    margin-top: 50px;
}

.home-post {
    margin-top: 5px;
}

.home-categories {
    margin-top: 5px;
}

.home-post, .home-categories {
    background-color: white;
    border: 0.5px solid #30E3CA;
    border-radius: 5px;
}

.home-post-content, .home-categories-content {
    padding: 10px 15px 2.5px 15px;
}