{% extends "base.html" %}

{% block title %}Search Community{% endblock %}

{% block navbar %}

<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Communitiez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('view.search_communitiez') }}">Search Communitiez</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('view.create_community') }}">Create Community</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
</nav>

{% endblock %}

{% block content %}

<!-- Community Page Content --> 
<div class="community-page-about-box container-fluid">
    <form action="#" method="post" class="community-page-form">
        <h3 class="community-page-heading">cz/{{community_name}}</h3>
        <h5>{{community_category}}</h5>
        <p>{{community_about}}</p>
        <input type="hidden" id="hiddenCommunityPageForm" name="hiddenCommunityPageForm" value="joinCommunity">
        <button type="submit" class="btn btn-light community-page-join-btn" value="{community_name}">
          {% if is_member == True %}
             Joined
          {% else %}
             Join
          {% endif %}
        </button>
    </form>
</div>

<!-- Community Page - Post a message -->
<div class="community-page-about-box container-fluid">
  <form action="#" method="post" class="community-page-form">
    <div class="form-group">
      <label for="communityPagePostMessageHeading">Heading:</label>
      <div class="row">
        <div class="col-lg-12 create-form-box">
        <input type="text" id="communityPagePostMessageHeading" name="communityPagePostMessageHeading"><br>
      </div>  
    </div>
    </div>
    <div class="form-group">
      <label for="communityPagePostMessage">Message:</label>
      <div class="row">
      <div class="col-lg-12 create-form-box">
        <textarea class="form-control create-form-box-content" id="communityPagePostMessage" name="communityPagePostMessage" rows="3"></textarea>
      </div>
      <div class="col-lg-12 create-form-btn create-form-btn-community-page">
        <input type="hidden" id="hiddenCommunityPageForm" name="hiddenCommunityPageForm" value="postMessage">
        <button type="submit" class="btn btn-light btn-search" value ="communityPagePostMessage">Post</button>
      </div>
      </div>
    </div>
  </form>
</div>

<!-- Community Page - Posts -->
{% for posts in community_posts %}
      <div class="community-page-post container-fluid">
          <div class="community-page-post-content">
              <h4>{{posts["heading"]}}</h4> 
              <h5>{{posts["text"]}}</h5>
              <h6>{{community_name}}</h6>
              <p>Posted by {{posts["user_id"]}}</p>
              <p>Date: {{posts["date"]}}</p>
              <p>Number of comments</p>
          </div>
      </div>
{% endfor %}

{% endblock %}