{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}

<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Communitiez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('view.search_communitiez') }}">Search Communitiez</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('view.create_community') }}">Create Community</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  {% endblock %}

  {% block content %}

<!-- Post Content --> 

<div class="container-fluid">
  <h3 class="home-heading">POSTS ON COMMUNITIEZ</h3>
  <div class="row">
    <div class="col-lg-10">
      <div class="home-post">
        <div class="home-post-content">
          <h4>Topic Heading</h4> 
          <h5>Group Name</h5>
          <p>Posted by (username)</p>
          <p>Number of comments</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="home-categories">
        <div class="home-categories-content">
          <h6>Categories</h6>
          <p><a href="#">All</a></p>
          <p><a href="#">Gaming</a></p>
          <p><a href="#">Fashion</a></p>
          <p><a href="#">Music</a></p>
          <p><a href="#">Tech</a></p>
          <p><a href="#">Coding</a></p>
          <p><a href="#">Sport</a></p>
        </div>
      </div>
    </div>
  </div>
</div>  

  {% endblock %}