{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Communitiez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="#">Log In</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Home Page Content Area -->

  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
            <img class="robot-image" src="{{ url_for('static', filename='images/robot.svg') }}" alt="Image of a robot">
        </div>
        <div class="col-lg-6">
          <div class="home-page-cta">
            <h1 class="heading-cta">Feel part of a community at the click of a button.</h1>
            <h4 class="sub-heading-cta">The number one online community platform</h4>
            <button type="button" class="btn btn-light btn-lg home-button">Sign Up</button>
          </div>
        </div>
      </div>
  </div>

{% endblock %}