{% extends "base.html" %}

{% block title %}Communitiez{% endblock %}

{% block navbar %}

<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Communitiez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>

  {% endblock %}

  {% block content %}
  
  <!-- Home Page Content Area -->

    <div class="home-content-area">
        <div class="row">
          <div class="col-lg-7">
              <h1 class="heading-cta home-page-cta">Feel part of a community at the click of a button.</h1>
              <h4 class="sub-heading-cta">The number one online community platform.</h4>
              <a href="{{ url_for('auth.signup') }}" class="btn btn-light btn-lg home-button" role="button">Sign Up</a>
          </div>
          <div class="col-lg-5 robot-col">
              <img class="robot-image" src="{{ url_for('static', filename='images/robot.svg') }}" alt="Image of a robot">
          </div>
        </div>
    </div>

  <!-- Footer Area -->
  <div class="footer-area">
    <p>Copyright - Communtiez: created by cerisilv123</p>
  </div>

{% endblock %}