{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}

<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ url_for('view.home') }}">Communitiez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active nav-item-homepage">
          <a class="nav-link" href="#">Log In</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
        </li>
      </ul>
    </div>
</nav>

{% endblock %}

{% block content %}

<!-- Log In form -->
<div class="container-fluid container-form">
    <form action="#" method="post">
        <h4 class="form-heading">Log In</h4>
        <div class="form-group">
            <label for="usernameInput">Username:</label>
            <input type="text" class="form-control" id="usernameInput" name="usernameInput" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password:</label>
            <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Enter Password">
        </div>
            <button type="submit" class="btn btn-light btn-authentication" value="login">Log In</button>
    </form>
</div>

{% endblock %}