{% extends "base.html" %}

{% block title %}Search Community{% endblock %}

{% block navbar %}

<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Communitiez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="#">Search Communitiez</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('view.create_community') }}">Create Community</a>
        </li>
        <li class="nav-item nav-item-homepage">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  {% endblock %}

  {% block content %}

<!-- Search Content --> 

<div class="container-fluid">
  <h3 class="search-heading">SEARCH COMMUNITIEZ</h3>
  <div class="row">
    <div class="col-lg-10">
      <div class="search-bar">
        <div class="search-bar-content">
          <form action="#", method="post">
              <div class="form-group">
                <label for="searchCommunitiez">Search:</label>
                <div class="row">
                <div class="col-lg-10 search-bar-box">
                  <input type="text" class="form-control" id="searchCommunitiez" name="searchCommunitiez">
                </div>
                <div class="col-lg-2 search-bar-btn">
                  <button type="submit" class="btn btn-light btn-search">Search</button>
                </div>
                </div>
              </div>
          </form>
        </div>
      </div>
      {% for community in communitiez_list %}
          <div class="row search-communitiez-content">
            <div class="col-lg-11">
              <p><a href="{{ url_for('view.community_page', community_name=community[0]) }}">cz/{{community[0]}}</a></p>
              <p>{{community[2]}}</p>
            </div>
            <div class="col-lg-1">
              <p>{{community[1]}}</p>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="col-lg-2">
      <div class="home-categories">
        <div class="home-categories-content">
          <h6>Categories</h6>
          <p><a href="{{ url_for('view.search_communitiez_category', category='All') }}">All</a></p>
          <p><a href="{{ url_for('view.search_communitiez_category', category='Gaming') }}">Gaming</a></p>
          <p><a href="{{ url_for('view.search_communitiez_category', category='Fashion') }}">Fashion</a></p>
          <p><a href="{{ url_for('view.search_communitiez_category', category='Music') }}">Music</a></p>
          <p><a href="{{ url_for('view.search_communitiez_category', category='Tech') }}">Tech</a></p>
          <p><a href="{{ url_for('view.search_communitiez_category', category='Coding') }}">Coding</a></p>
          <p><a href="{{ url_for('view.search_communitiez_category', category='Sport') }}">Sport</a></p>
          <p><a href="{{ url_for('view.search_communitiez_category', category='Other') }}">Other</a></p>
        </div>
      </div>
    </div>
  </div>
</div>  

{% endblock %}